.camera {
  $height: 350px;
  $width: calc(#{$height} * 1.291); // video aspect ratio
  //$width: 430px;
  $padding: 20px;

  display: inline-block;
  position: relative;
  width: 100%;

  .annotations {
    color: white;
    font-size: 24px;
  }

  .bl {
    left: -6px;
    bottom: -6px;
    transform: rotate(-45deg);
  }

  .br {
    right: -6px;
    bottom: -6px;
    transform: rotate(-135deg);
  }

  /*
  button {
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 24px;
    padding: 20px;
  }
  */

  .camera-canvas {
    display: none;
    padding: 20px;
    width: calc(100% - 2 * #{$padding});
  }

  .camera-img {
    width: calc(100% - #{$padding} * 2);
    padding: 20px;
  }

  .camera-video {
    height: 100%;
    width: 100%;
  }

  .corner {
    background-image: url('/images/chevron-left.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
  }

  .emojis {
    text-align: center;
  }

  .emojis > img {
    height: 100px;
  }

  .quote {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #redo {
    width: 36px;
    position: absolute;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    animation: spin 4s infinite ease-in-out;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25%,
    100% {
      transform: rotate(360deg);
    }
  }

  .shutter {
    position: absolute;
    bottom: -12px;
    z-index: 2;
  }

  .start-camera-btn {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: #72c7d5;
    border-radius: 32px;
    left: calc(50% - 32px);
    bottom: -10px;
  }

  .status {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }

  .tl {
    left: -6px;
    top: -6px;
    transform: rotate(45deg);
  }

  .top {
    margin: 0 auto;
    position: relative; // makes this the containing block of its children
    height: $height;
    width: $width;
  }

  .tr {
    right: -6px;
    top: -6px;
    transform: rotate(135deg);
  }

  video {
    width: calc(100% - #{$padding} * 2);
  }

  .video-canvas {
    //height: calc(100% - #{$padding} * 2);
    height: 100%;
    position: absolute;
    //width: calc(100% - #{$padding} * 2);
    width: 100%;
    z-index: 1;
  }

  .video-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: calc(#{$padding} / 4) $padding;
  }
}